.card1{
  background-color: #08AEEA;
  background-image: url(event_1_cs.png),linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
  background-repeat: no-repeat,no-repeat;
  background-size: cover;
  /*, linear-gradient(0deg, #08AEEA 0%, #2AF598 100%)*/
}
.card2{
  background-color: #FEE140;
  background-image: url(event_2_hackathon.png), linear-gradient(90deg, #FEE140 0%, #FA709A 100%);
  background-repeat: no-repeat,no-repeat;
  background-size: cover;
  /*, linear-gradient(0deg, #08AEEA 0%, #2AF598 100%)*/
}

.card3{
  background-color: #FA8BFF;
  background-image: url(event_3_foodathon.png),linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
  background-repeat: no-repeat,no-repeat;
  background-size: cover;
  /*, linear-gradient(0deg, #08AEEA 0%, #2AF598 100%)*/
}

.card4{
  background-color: #4158D0;
  background-image: url(event_4_coding.png),linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  background-repeat: no-repeat,no-repeat;
  background-size: cover;
  /*, linear-gradient(0deg, #08AEEA 0%, #2AF598 100%)*/
}

.card5{
  background-color: #FF9A8B;
  background-image: url(event_5_treassure.png),linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
  background-repeat: no-repeat,no-repeat;
  background-size: cover;
  /*, linear-gradient(0deg, #08AEEA 0%, #2AF598 100%)*/
}

.card6{
  background-color: #0093E9;
  background-image: url(event_6_tug.png),linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  background-repeat: no-repeat,no-repeat;
  background-size: cover;
  /*, linear-gradient(0deg, #08AEEA 0%, #2AF598 100%)*/
}

.card7{
  background-color: #08AEEA;
  background-image: url(event_1_cs.png),linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
  background-repeat: no-repeat,no-repeat;
  background-size: cover;
  /*, linear-gradient(0deg, #08AEEA 0%, #2AF598 100%)*/
}


.homecard1{
  height: 200px;
  background-color: #08AEEA;
  background-image: url(learn.png),linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
  background-repeat: no-repeat,no-repeat;
  background-size: cover;
}

.homecard2{
  height: 200px;
  background-color: #4158D0;
  background-image: url(lead.png),linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  background-repeat: no-repeat,no-repeat;
  background-size: cover;
}

.homecard3{
  height: 200px;
  background-color: #FF9A8B;
  background-image: url(inspire.png),linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
  background-repeat: no-repeat,no-repeat;
  background-size: cover;
}
.cardtext{
  margin: auto;
  font-size: 3em;
  text-transform: uppercase;
  opacity: 0.7;
  color: #4d5256;
}
