

.homecard1{
  height: 200px;
  background-color: #08AEEA;
  background-image: url(learn.png),linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
  background-repeat: no-repeat,no-repeat;
  background-size: cover;
}

.homecard2{
  height: 200px;
  background-color: #4158D0;
  background-image: url(lead.png),linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  background-repeat: no-repeat,no-repeat;
  background-size: cover;
}

.homecard3{
  height: 200px;
  background-color: #FF9A8B;
  background-image: url(inspire.png),linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
  background-repeat: no-repeat,no-repeat;
  background-size: cover;
}
.cardtext{
  margin: auto;
  font-size: 3em;
  text-transform: uppercase;
  opacity: 0.7;
  color: #4d5256;
}

.cardhead{
  margin: auto;
  font-size: 2.7em;
  text-transform: uppercase;
  color: #4d5256;
}


.cardalign{
  margin: auto;
}
