.hero{
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 200px;
  background: #10b8f7;

}

.main-card {
  position: absolute;
  height: 400px;
  margin-top: 100px;
}

.main-row{
  margin-top: 200px;
}



.cards {
  background: #fff;
  border-radius: 3px;
  display: inline-block;
  margin-top: 2.5rem;
  margin-bottom: 2rem;
  position: relative;
  width: 100%;
}

.cards-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.cards-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.cards-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.cards-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.pad10left{
  padding-left: 10px;
}
.pad10{
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
}
.pad10top{
  padding-top: 10px;
}
.cardtitle{
  padding-left: 20px;
  padding-bottom: 0px;
  font-size: 15px;
  color: #a9abac;
}
hr{
  background-color: #eeeeee;
  opacity: 0.3;
}


.imgbg{
  background-color: #08AEEA;
  background-image: url(event_1_cs.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /*, linear-gradient(0deg, #08AEEA 0%, #2AF598 100%)*/

}
.herocard{
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  background: #10b8f7;
  border-radius: 3px;
  opacity: 0.3;
}
.pad70top{
  padding-top: 70px;
}
.mar5top{
  margin-top: 10px;
}
.heading{
  font-size: 25px;
  font-family: sans-serif;
}

.title {
    font-size: 2em;
    position: relative;
    margin: 0 auto 1em;
    padding: 1em 1em .25em 1em;
    text-align: center;
    text-transform: uppercase;
    color: #4d5256;
}
.title:after {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 240px;
    height: 4px;
    margin-left: -120px;
    content: '';
    background-color: #10b8f7;
    background: -webkit-linear-gradient(45deg,#0fb8f6, #05dcfc); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(45deg,#0fb8f6, #05dcfc); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(45deg,#0fb8f6, #05dcfc); /* For Firefox 3.6 to 15 */
    background: linear-gradient(45deg,#0fb8f6, #05dcfc); /* Standard syntax */
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }
.buzzcard{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: left;
}

.buzzcard img{
  width: 100%;
}
.buzztitle{
  align-self: center;
  margin: auto;
  font-size: 1.5em;
  text-transform: uppercase;
  color: #4d5256;
}
.buzzcontent{
  font-size: 1.2em;
}

.pad5{
  padding: 10px;
}
